body {
    font-family: Tahoma, sans-serif;
    margin: 32px;
}

.content {
    display: flex;
    flex-direction: row;
    position: relative;
}

.content > div {
    margin-right: 24px;
}

#datepicker {
    flex-direction: column;
    background: #fff;
    border: 1px solid #dbdbdb;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-sizing: content-box;
    font-size: 14px;
    color: #4a4a4a;
    padding: 6px;
    position: absolute;
    width: 200px;
    z-index: 100;
}

.datepicker-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
    align-items: center;
    min-height: 32px;
    padding: 4px;
}

.datepicker-header span {
    vertical-align: middle;
}

.datepicker-calendar {
    width: inherit;
}

.datepicker-dayname {
    text-transform: uppercase;
    color: #519E8A;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: .8em;
}

.datepicker-title {
    min-height: 26px;
}

.datepicker-prev, .datepicker-next {
    cursor: pointer;
}

.datepicker-day {
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    height: 24px;
    z-index: 1;
    text-align: center;
}

.datepicker-day:hover {
    background-color: #C5C9A4;
    color: white;
}

.datepicker-selected {
    background-color: #476A6F;
    color: white;
}

input[type=text] {
    outline: 0;
    height: 32px;
    border: 1px solid black;
    padding: 0 8px;
    color: #444;
    font-size: 12px;
}

input[type=text]:focus {
    border-color: #519E8A;
}

.datepicker-input {
    width: 200px;
    background: url(../images/ic_date_range_black_36px.svg) right no-repeat;
    background-size: 24px 24px;
}

.timepicker-input {
    width: 150px;
    background: url(../images/ic_access_time_black_36px.svg) right no-repeat;
    background-size: 24px 24px;
}

#timepicker {
    flex-direction: column;
    background: #fff;
    border: 1px solid #dbdbdb;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-sizing: content-box;
    font-size: 14px;
    color: #4a4a4a;
    position: relative;
    z-index: 100;
    max-height: 200px;
    width: 150px;
    overflow: hidden;
    overflow-y: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 10px;
}

.timepicker-item {
    line-height: 24px;
}

.timepicker-item:nth-child(even) {
    background: #efefef;
}

.timepicker-selected {
    background: #ECBEB4 !important;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.btn {
    border-radius: 4px;
    padding: 12px 24px;
    color: #fff;
    position: relative;
    display: inline-block;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.blue {
    background-color: #55acee;
    box-shadow: 0px 2px 0px 0px #3C93D5;
}

.blue:hover {
    background-color: #6FC6FF;
}
